@font-face {
  font-family: neon;
  src: url(fonts/NeonTubes2.otf);
}
@font-face {
  font-family: azonix;
  src: url(fonts/Azonix.otf);
}

body{
    background-color: lightgray;
    margin: 0px;
    width: 100%;
    height: 1vw;
    overflow: hidden;
    background: url(images/13167.jpg);
    background-size:cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data{

  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
  font-family: monospace;
  text-shadow: -3px 0px 1px rgb(241 150 225);
  font-size: larger;
  font-weight: 900;
  
}
.input{
  font-family: system-ui;
  font-weight: 900;
  font-size: 150%;
  width: 50%;
  height: 7%;
  align-self: center;
  border-radius: 10px;
  background-color: aliceblue;
  
}
input:hover{

  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 0px 10px 0px 1px rgb(0 0 0 / 75%);;
}
.input:focus{

  outline: none;
}
button:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
button:focus{
  outline: none;
  transform: scale(0.9);
  transition: 0.5s;
}

label{

  align-self: center;
  font-size: x-large;
}
.grid-container {
    position: absolute;
    top: 10%;
    left: 27%;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
  }
  #one { grid-area: one; }
  #two { grid-area: two; }
  #three { grid-area: three; }
  #four { grid-area: four; }
  #five { grid-area: five; }
  #six { grid-area: six; }
  #seven { grid-area: seven; }
  #eight { grid-area: eight; }
  #nine { grid-area: nine; }

  .placing{
        background-color:  #00000038;
        backdrop-filter: blur(3px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
  }
  .placing-o{

    box-shadow: inset 5px 11px 41px 14px rgba(235,3,235,0.38);
  }
  .placing-x{

    box-shadow: inset 5px 11px 41px 14px rgba(240,153,3,0.67);
  }
  #namesdiv{

    width: 50%;
    height: 97%;
    background: rgba(255, 255, 255, 0.356);
    position: absolute;
    left: 22.5%;
    top: 3%;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #startbutton{

    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
  }
  #playerxname{
    font-family: azonix;
    font-size: 100%;
    position: absolute;
    top: 30%;
    left:1vw;
    height: 30%;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background-color: #80808029;
    box-shadow: -1px 2px 29px 0px rgba(219,21,219,1);
  }

  #playeroname{
    font-family: azonix;
    font-size: 100%;
    position: absolute;
    top: 30%;
    right:1vw;
    height: 30%;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    background-color: #80808029;
    box-shadow: -1px 2px 29px 0px rgb(0 0 0);
  
  }
  #playerxtext, #playerotext{
    font-family: neon;
    color: rgb(185, 105, 209);
    font-size: xx-large;
    font-weight: bolder;
  }
  #playerxname h1, #playeroname h1{

    font-family: monospace;
    text-shadow: -3px 0px 1px rgb(241 150 225);
    font-size: 70px;
    font-weight: 900;
    margin-top: 0px;
  }
  #playerxname h2, #playeroname h2{

    height: 0px;
  }
  #restart{

    width: 20%;
    height: 8%;
    border-radius: 10px;
    background-color: rgb(226, 236, 236);
    font-family: azorix;
    font-size: 20px;
    font-weight: 900;
    box-shadow: -2px 19px 13px -7px rgb(0 0 0);
  }

  .fadein{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1000ms, opacity 800ms;
  }
  .fadeout{

    visibility: visible;
    opacity: 1;
    transition: visibility 500ms linear 100ms, opacity 600ms;
  }

  .winnerdiv{

    width: 50%;
    height: 97%;
    background: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(3px);
    position: absolute;
    left: 22.5%;
    top: 3%;
    z-index: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
  .winnerdiv h1{

    font-family: 'neon';
    font-size: 67px;
    color: #f319b9;
    text-shadow: 2px 2px #0d0bff;
  }
  .crownx{

    background: url(images/royal-alphabet-crown-letter-english-x-512.webp);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 10px;
  }
  .crowno{

    background: url(images/royal-alphabet-crown-letter-english-o-512.webp);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 10px;
  }
  .tieimage{
    background: url(images/crown.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 10px;

  }
  